<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>About Smart City</title>
	<meta name="Home" content="SmartCity Online">
	{% load static %}
	{% load sitetree %}
	{% include "headlinks.html" %}

</head>

<body>
<div class="wrap-body">
	<header>
		{% include "header.html" %}
		{% sitetree_menu from "smartcity" include "trunk,topmenu" template "menu.html" %}
    </header>


<!--MAIN CONTENT-->
<section id="container">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box boxstyle-1 box-1">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="col-1-2">
						<div class="wrap-col">
							<h1>About Smart City</h1>
							<p>We need text and I hate lorem ipsum so you get a poem.</p>
							<p><i>
                                Turning and turning in the widening gyre   </br>
                                The falcon cannot hear the falconer;   </br>
                                Things fall apart; the centre cannot hold;   </br>
                                Mere anarchy is loosed upon the world,   </br>
                                The blood-dimmed tide is loosed, and everywhere  </br>
                                The ceremony of innocence is drowned;   </br>
                                The best lack all conviction, while the worst  </br>
                                Are full of passionate intensity.   </br></br>

                                Surely some revelation is at hand;  </br>
                                Surely the Second Coming is at hand.    </br>
                                The Second Coming! Hardly are those words out    </br>
                                When a vast image out of Spiritus Mundi  </br>
                                Troubles my sight: somewhere in sands of the desert    </br>
                                A shape with lion body and the head of a man,    </br>
                                A gaze blank and pitiless as the sun,    </br>
                                Is moving its slow thighs, while all about it    </br>
                                Reel shadows of the indignant desert birds.    </br>
                                The darkness drops again; but now I know    </br>
                                That twenty centuries of stony sleep  </br>
                                Were vexed to nightmare by a rocking cradle,    </br>
                                And what rough beast, its hour come round at last,   </br>
                                Slouches towards Bethlehem to be born? </br>
                            </i> </p> </br>
                            <h3>W.B Yates</h3></br></br>
							<a class="button bt2" href="/howto">How it works</a>
							<a class="button bt1" href="/tos">Terms & Conditions</a>
						</div>
					</div>
					<div class="col-1-2">
						<div class="wrap-col">
                            <h1>The Team</h1>
							<p>Put a picture of the dev team here</p> </br>
						</div>
					</div>
				</div>
			</div>
		</section>


	</div>
</section>

{% include "footer.html" %}
{% include "scripts.html" %}


</div>
</body></html>
