<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Login</title>
	<meta name="Login" content="SmartCity Online">
	{% load static %}
	{% load sitetree %}
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="/static/css/zerogrid.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/menu.css">
	<link rel="stylesheet" href="/static/css/lightbox.css">

	<!-- Custom Fonts -->
	<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Owl Carousel Assets -->
    <link href="static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<script src="/static/js/jquery-2.1.1.js"></script>
	<script src="/static/js/script.js"></script>

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="/static/js/html5.js"></script>
		<script src="/static/js/css3-mediaqueries.js"></script>
	<![endif]-->

</head>

<body class="archive-page">
	<div class="wrap-body">
	<header>
		{% include "header.html" %}
		{% sitetree_menu from "smartcity" include "trunk,topmenu" template "menu.html" %}
    </header>
    </div>


<form name="form1" id="ff" method="get" action="../search/item" enctype="multipart/form-data">

	{{ title }}
		<br>
		{{ address }}
		<br>
		{{ type }}
		<br>
	{{ description }}
	<br>
		{{ event_time }}
		<br>
	  {% if picture != null %}
		  <img src="../Smart_City/media/{{picture}}" style="width:50vw;height:50vh;"/>
	  {% else %}
		  <img src=""/>
	  {% endif %}
</form>

<div class="col-1-2">
						<div class="wrap-col">
							<iframe
							  width="500"
							  height="400"
							  frameborder="0" style="border:0"
							  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBcsVtLuB1-ayYgytXeg2pp5RjOtCcI6K8
								&q=Brisbane" allowfullscreen>
							</iframe>
						</div>
					</div>
</body>
</html>
