<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Smart City Online</title>
	<meta name="Home" content="SmartCity Online">
	{% load static %}
	{% load sitetree %}
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="/static/css/zerogrid.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/menu.css">
	<link rel="stylesheet" href="/static/css/lightbox.css">

	<!-- Custom Fonts -->
	<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Owl Carousel Assets -->
    <link href="/static/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<script src="/static/js/jquery-2.1.1.js"></script>
	<script src="/static/js/script.js"></script>

	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="/static/js/html5.js"></script>
		<script src="/static/js/css3-mediaqueries.js"></script>
	<![endif]-->

</head>
<body>
<div class="wrap-body">
	<header>
		{% include "header.html" %}
		{% sitetree_menu from "smartcity" include "trunk,topmenu" template "menu.html" %}
    </header>


<!--MAIN CONTENT-->
<section id="container">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box boxstyle-1 box-1">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="col-1-2">
						<div class="wrap-col">


							<!--Gen Places list-->
							<div class="row">
								{% for event in events_list %}
							  <div class="col-sm-6 col-md-4">
							    <div class="thumbnail">
							      <!-- <img src="..." alt="..."> -->
							      <div class="caption">
									  <form method ="get" action = "../search/item" />
									  <input type="hidden" value = '{{event.title}}' name="title" />
									  <input type="hidden" value = '{{event.address}}' name="address" />
									  <input type="hidden" value = '{{event.type}}' name="type" />
									  <input type="hidden" value = '{{event.description}}' name="description" />
									  

							        <h3>{{event.title}}</h3> <small>{{event.address }}; {{event.type}}</small>
							        <p>{{event.description}}</p>
							        {% if event.picture != null and event.picture != "" %}
										  <img src="../Smart_City/media/{{event.picture}}" style="width:50vw;height:50vh;"/>
									  {% else %}
									  	  <img src=""/>
									  {% endif %}
							        <p><input class="button bt1" value="View" type="submit" title="View"/>
									</p>
								  </form>
							      </div>
							    </div>
							  </div>
							  {% endfor %}
							</div>

							<div class="pagination">
							    <span class="step-links">
							        {% if events_list.has_previous %}
							            <a href="?page={{ events_list.previous_page_number }}">previous</a>
							        {% endif %}

							        <span class="current">
							            Page {{ events_list.number }} of {{ events_list.paginator.num_pages }}.
							        </span>

							        {% if events_list.has_next %}
							            <a href="?page={{ events_list.next_page_number }}">next</a>
							        {% endif %}
							    </span>
							</div>


						</div>
					</div>
					<div class="col-1-2">
						<div class="wrap-col">
							<iframe
							  width="500"
							  height="400"
							  frameborder="0" style="border:0"
							  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBcsVtLuB1-ayYgytXeg2pp5RjOtCcI6K8
								&q=Brisbane" allowfullscreen>
							</iframe>
							<div>
								{% if user.is_admin or user.is_superuser%}

								<form method="GET" action="../newevent" />
									<input class="button bt1" type="submit" value="Create New Event" title="Create New Event"/>
								</form>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


	</div>
</section>

{% include "footer.html" %}
{% include "scripts.html" %}

</div>
</body></html>
