
<!--////////////////////////////////////Footer-->
<footer>
	<!--<div class="top-footer">-->
		<!--<div id="map" style="height: 250px;"></div>-->
	<!--</div>-->
	<div class="zerogrid wrap-footer">
		<div class="row">
			<div class="col-1-3 col-footer-1">
				<div class="wrap-col">
					<h3 class="widget-title">About Us</h3>
					<p>Smart City is a centralized system that seeks to gather and present information on businesses, public attractions, and other interesting places. </p>
					<p>The platform is being developed using the Django Development Environment/Web Framework, with Gitlab as a tool for SCRUM management. </p>
				</div>
			</div>

		<!--Gen Places list-->
			<div class="col-1-3 col-footer-3">
				<h3>Recent Events</h3></br>
				{% for event in events_list %}
				{% if forloop.counter <= 5 %}
				  <div class="col-sm-6 col-md-4">
					<div class="thumbnail">
					  <!-- <img src="..." alt="..."> -->
					  <div class="caption">
						  <form method ="get" action = "../search/item" />
						  <input type="hidden" value = '{{event.title}}' name="title" />
						  <input type="hidden" value = '{{event.address}}' name="address" />
						  </br>
						<b>{{event.title}} @</b>
						<small>{{event.address }}</small>
					  </form>
					  </div>
					</div>
				  </div>
				  {% endif %}

				{% endfor %}
			</div>

			<div class="col-1-3 col-footer-3">
				<div class="wrap-col">
					<h3 class="widget-title">Subcribe</h3>
					<p>Get updates about what Smart City is doing, in addition to your events and places notifictions.</p>
					<p>Email address:</p>
					<form action="#" method="post">
						<input type="text" name="your-name" value="" size="40" placeholder="Your Email" />
						<input type="submit" value="SUBSCRIBE" class="button button-subcribe" />
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="zerogrid wrapper">
			Copyright <a href="/" title="Smart City Online">Smart City</a>
			<ul class="quick-link">
				<li><a href="/privacy/">Privacy Policy</a></li>
				<li><a href="/terms-of-use/">Terms of Use</a></li>
				<li><a href="/admin/" title="Admin">Admin</a></li>
			</ul>
		</div>
	</div>
</footer>
