
<!--////////////////////////////////////Header-->
	<div class="wrap-header">
		<!---Main Header--->
		<div class="main-header">
			<div class="zerogrid">
				<div class="row">
					<div class="col-1-4">
						<span class="contact-info right">
							<b style="color:#2b2459;font-size:14px;">Call us: 1800 SMARTCITY</b>
							<br>
							info@SmartCity.com.au
						</span>
					</div>


					<div class="col-2-4">
						<div id="logo"><a href="/">
							<img style="max-width: 300px;" src="/static/images/logo.png" /></a></div>
					</div>


						<span>

							{% if user.is_authenticated %}

							<p>Hi {{ user.get_username }} {% if user.is_admin or user.is_superuser %}&#x2714{% endif %} </br> Thanks for logging in.</p>

							<form action="/logout">
								<input class="button bt1" type="submit" value="Logout"/>
							</form>

							{% else %}

							<p>Welcome to Smart City, please login to access account features.</p>

							<form action="/login">
								<input class="button bt1" type="submit" value="Login"/>
							</form>
							{% endif %}

						</span>

					</div>
				</div>
			</div>
		</div>
