<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="Login" content="SmartCity Online">
	{% load static %}
	{% load sitetree %}
	{% include "headlinks.html" %}

</head>

<body>
<div class="wrap-body">
	<header>
		{% include "header.html" %}
		{% sitetree_menu from "smartcity" include "trunk,topmenu" template "menu.html" %}
    </header>

<section id="container">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box boxstyle-1 box-1">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="col-1-2">
						<div class="wrap-col">
							<h1>{{ title }}</h1>
							<h3>{{ address }}</h3>
                            <p>{{ type }}</p>
                            <p>{{ description }}</p>
                            <p>
                            	{% if picture != '' and picture != null %}
                            	<form name="form1" id="ff" method="get" action="" enctype="multipart/form-data">
					                <img src="../Smart_City/media/{{picture}}" style="width:50vw;height:50vh;"/>
					            </form>
					            {% endif %}
                            </p>
						</div>
					</div>
					<div class="col-1-2">
						<div class="wrap-col">
                            <div class="col-1-2">
                                <div class="wrap-col">
						<div id="itemmap">
                                        <script>
                                            function initMap() {
                                                var brisbane = {lat:-27.4698, lng:153.0251};
                                                var options = {zoom:14, center:brisbane}
                                                var map = new google.maps.Map(document.getElementById('itemmap'), options);
                                                    var marker = new google.maps.Marker({
                                                        position: {lat:{{ latitude }}, lng:{{ longitude }}},
                                                        map:map
                                                    });

                                            }
                                            </script>
                                        <script async defer
                                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXEQ0-YeEWKoDd2wzMVnfh6TbZHb-401g&callback=initMap">
                                        </script>

                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</section>


	</div>
</section>

</div>



{% include "footer.html" %}
{% include "scripts.html" %}
</body></html>
