<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
        <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>SmartProfile</title>
	<meta name="Login" content="SmartCity Online">
	{% load static %}
	{% load sitetree %}
	{% include "headlinks.html" %}

</head>
<body>

<div class="wrap-body">
	<header>
		{% include "header.html" %}
		{% sitetree_menu from "smartcity" include "trunk,topmenu" template "menu.html" %}
    </header>


<!--MAIN CONTENT-->
<section id="container">
	<div class="wrap-container">
		<!-----------------content-box-1-------------------->
		<section class="content-box boxstyle-1 box-1">
			<div class="zerogrid">
				<div class="row wrap-box"><!--Start Box-->
					<div class="col-1-2">
						<div class="wrap-col">
{% if user.is_authenticated %}
                            Username: {{user}}
							{% if user.is_admin or user.is_superuser%}
							<br>
							<span id="verified">You are verified &#x2714</span>
							{% endif %}
							<br>
                            Email: {{user.email}}
                            <br>
                            Type: {{user.type}}
                            <br>
                            Given names: {{user.given_names}}
                            <br>
                            Family name: {{user.family_name}}
                            <br>
                            Profile picture: {{user.profile_picture}} <img src="/Smart_City/media/{{user.profile_picture}}"/>
                            <br><br>
							<a class="button bt1" href="/profile/edit">Edit Your Profile</a>
							{% else %}
							<a href="../login/">Please Login to View Profile!</a>
							{% endif %}


						</div>
					</div>
					<div class="col-1-2">
						<div class="wrap-col">
<p>Events Stream goes here</p>
						</div>
					</div>
				</div>
			</div>
		</section>


	</div>
</section>

{% include "footer.html" %}
{% include "scripts.html" %}

</div>
</body></html>
