<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Login</title>
	<meta name="Login" content="SmartCity Online">
	{% load static %}
	{% load sitetree %}
	{% include "headlinks.html" %}

</head>

<body class="archive-page">
	<div class="wrap-body">
	<header>
		{% include "header.html" %}
		{% sitetree_menu from "smartcity" include "trunk,topmenu" template "menu.html" %}
    </header>


<!--MAIN CONTENT-->
		<section id="container">
			<div class="wrap-container zerogrid">
				<div class="crumbs">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="contact.html">Register</a></li>
					</ul>
				</div>
				<div id="main-content">
					<div class="wrap-content" style="border-right: none">
						<div class="row">

                            <div id="contact_form">
                                											<form name="form1" id="ff" method="post" action="" enctype="multipart/form-data">

                            <h1>Register</h1>
                            {% block body %}


                                {% csrf_token %}
                                {{ form.as_p }}




                            <input class="button bt1" type="submit" value="Register" />

                            {% endblock%}
 							</form>



                            </div>


						</div>
					</div>
				</div>
			</div>
		</section>


{% include "footer.html" %}
{% include "scripts.html" %}


</div>
</body>
</html>


